@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
}

.home {
    width: 100%;
    height: calc(100vh - 310px);
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-image: url(../assets/pho.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
  }
  
  .headerContainer {
    width: auto;
    margin-left: 50px;
  }
  
  .headerContainer h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    /* font-weight: 60px; */
    color: rgb(248, 249, 255);
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'DM Sans', sans-serif;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 23px;
    font-weight: lighter;
    color: rgb(248, 249, 255);
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color:  #07090a;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: box-shadow 0.3s, text-shadow 0.3s;
    font-family: 'DM Sans', sans-serif;
  }
  
  .headerContainer button:hover {
    background-color: #0f603c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  
  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }
  
    .headerContainer {
      margin-left: 0px;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainer h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainer p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainer button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainer button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }
  